.sapFDynamicPageContent .sapFDynamicPageAlignContent,
.sapUiSizeCompact .sapMInputBase.sapMTextArea,
.noMargin{
	margin: 0;
}
.sapMITBContent{
	padding: 0;
}
.sapMTB{
	height: auto;
}
.minusMargin{
	margin: -1rem;
}
.padding{
	padding: 1rem;
}
.sapMText[data-class="red"] {
	color: red;
}
.margin{
	margin: .5rem .5rem 0 .5rem;
}
.halfPadding{
	padding: .5rem;
}
.alignRight{
	text-align: right;
}
.sapFDynamicPage-Std-Tablet .sapFDynamicPageContent, .sapFDynamicPage-Std-Tablet .sapFDynamicPageContentFitContainer,
.sapFDynamicPage-Std-Phone .sapFDynamicPageContent, .sapFDynamicPage-Std-Phone .sapFDynamicPageContentFitContainer,
.sapFDynamicPageContent, .sapFDynamicPageContentFitContainer{
	padding: 0;
}
.noBorder{
	border: 0;
}
.sapFFCLNavigationButton .sapMBtnInner{
	background: rgba(229,229,229, .35);
}
.sapMText[data-class="red"] {
	color: red;
}
.sapMText[data-class="green"] {
	color: green;
}
.detailPage .sapMFooter-CTX div:first-child,
.closeOffer{
	display: none;
}
.sapUiBlockLayoutSizeL:not(.sapUiBlockLayoutKeepFontSize) .sapUiBlockCellContent{
	padding: 0 1rem 1rem 1rem;
}
.topLabel{
	margin-top: 1rem;
	font-size: .85rem;
}
.fullWidth{
	width: 100%;
}
.margin-top{
	margin-top: 1rem;
}
.leftVBoxStyle {
  padding-right: .5rem;
}
.bold{
	font-weight: bold;
}
.iconTabBar .sapMTitle{
	padding-left: .5rem;
}
.sapMIBar .sapMBarChild:first-child{
	margin-left: 0;
}
.rightVBoxStyle {
  padding-left: .5rem;
}
.sapMTitleStyleH3{
	line-height: 1.7;
}
.sapMPanelContent{
	padding: 1rem;
	background: rgba(200,200,200,.2);
}
.sapMPanelContent .sapMPanelContent{
	background: #fff;
}
.sapUiBlockCellContent{
	padding: 0 1rem 1rem 1rem;
}
.sapMDialogSection .sapUiBlockCellContent{
	padding: 0 0 1rem 0;
}
.border-top{
	border-top: 2px solid #dfdfdf;
}
.borderTop{
	border-top: 1px solid #dfdfdf;
}
[id*="deliveryPointsListPanel"] .sapMCbMarkChecked,
[id*="deliveryPointsListPanel"] .sapMCbBg.sapMCbMarkChecked:before{
    border-color: red !important;
    color: red !important;
}
.sapFDynamicPageTitle{
	justify-content: center;
	padding: 0 1rem !important;
}
.sapFDynamicPageTitleMain>.sapFDynamicPageTitleMainInner{
	align-items: center;
}
.paddingRem{
	padding: 1rem;
}
.sapMLIBSelected .sapMText,
.sapMLIBSelected .sapMObjectNumberText,
.sapMLIBSelected .sapMObjectNumberUnit{
	color: #000 !important;
}
.red{
	color: red !important;
}
.sapUiSizeCompact .sapMTB{
	height: auto;
}
.sapMLIBActive div, .sapMLIBActive .sapMLIBCounter{
	color: #000;
}
.sapMSwt,
.sapUiSizeCompact .sapMSwt{
	width: 100px;
}
.sapMSwtLabel{
	width: 85px;
}
.sapMSwtOn .sapMSwtHandle{
	left: 80px;
}
.marginTop{
	margin-top: 1rem;
}
.marginBottom{
	margin-bottom: 1rem;
}
.borderBottom{
	border-bottom: 1px solid #dfdfdf;
}
.smallMarginBottom{
	margin-bottom: 7px;
}

.sapMLabel,.sapMLIBActive .sapMLabel{
	color: #888;
}
.marginRight{
	margin-right: .5rem;
}
.sapMText,.sapMLIBActive .sapMText{
	font-size: .9rem;
	color: #000;
}
.listText .sapMLIB{
	background: transparent;
	border: 0;
	color: #000;
}
.heightAuto .sapMLIB{
	height: auto;
}
.listText .sapMListNoData{
	justify-content: start;
	padding: 0 !important;
	display: block;
	text-align: left;
}
.wrap{
	white-space: normal;
	line-height: normal;
	vertical-align: middle;
}
@media (max-width: 1280px) { 
	.sapMNav{
		position: absolute;
	}
	.sapMSwt,
	.sapUiSizeCompact .sapMSwt{
		width: 120px;
	}
	.sapFDynamicPage-Std-Tablet .sapFDynamicPageContent, .sapFDynamicPage-Std-Tablet .sapFDynamicPageContentFitContainer{
	    padding: 0;
	}
	.closeOffer{
		display: block;
	}
	.fullscreen{
		display: none;
		width: 120px;
	}
	.mobilePadding{
		padding: 1rem;
	}
}